
body {
    margin: 35px;
    overflow: auto;
}
.sary1{
    border: 1px solid;
    width: 1300px;
    height: 400px;
    background: url(photo/images1.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.sary_1{
    border: 1px solid;
    width: 700px;
    height: 250px;
    margin: 50px;
    padding: 35px;
    background: #00277a;
    text-align: start;
    border: none;
}

.sary_1 h1, p {
        color: white;
}

.Mini{
    border: 1px solid;
    justify-content: center;
    width: 305px;
    height: 425px;
    text-align: center;
}

.Premium {
    border: 1px solid;
    justify-content: center;
    width: 305px;
    height: 425px;
    text-align: center;
}

.Maxi {
    border: 1px solid;
    justify-content: center;
    width: 305px;
    height: 425px;
    text-align: center;

}

.part1 {
    margin: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}
.fin ul li{
    list-style-type: none;
}
.fin ul li i{
    color: rgb(119, 77, 0);
}

.Lien{
    border: 1px solid;
    margin-top: -25px;
    background-color: black;
    color: white;
    height: 30px;
    line-height: 30px;
    width: 275px;
    margin-left: 15px;


}
.Lien a{
    text-decoration: none;
    color: white;
}
.Lien2{
    border: 1px solid;
    margin-top: -29px;
    background-color: black;
    color: white;
    height: 30px;
    line-height: 30px;
    width: 275px;
    margin-left: 13px;

}

.Lien2 a{
    text-decoration: none;
    color: white;

}

.par {
    color: rgba(3, 3, 51, 0.856);
    border-left: 1px solid rgba(3, 3, 51, 0.856);
    width: 150%;
    font-size: 25px;
    margin: 35px;
    margin-bottom: 0px;
}
.par p {
    margin-left: 5px;
}

