body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
header {
    border: solid;
    align-items: center;
    width: 100%;
    border-color: transparent;
    align-items: center;
    display: flex;
}


header nav ul  {
    display: flex;
    flex-wrap: wrap;
    color: black;
    justify-content: space-around;
    width: 1000px;
    font-size: 20px;
    margin-left: 200px;
    margin-top: 150px;
    transform: translateY(-300%);
    list-style-type:none;
    font-style: italic;
}
header nav ul li a{
    color: rgb(48, 47, 47);
    font-size: 25px;
    text-decoration: none;
}

header nav ul li a:hover{
    cursor: pointer;
    color: rgb(173, 129, 74);
    font-size: 0.6cm;
    transition: 0.5s;
    border-bottom: 1px;

}

.sary1{
    border: 1px solid;
    height: 600px;
    background: url(photo/01.png) ;
    width: 1560px;
}


.sary{
    border: 1px solid;
    width: 600px;
    height: 500px;
    margin: 40px;
    background: rgba(29, 29, 179, 0.8);
    color: #eeefee;
    border-color: transparent;
    font-size: 25px;
}

.sary img {
    width: 500px;
    height: 300px;
    margin-top: -10px;
    margin-left: 105px;
}
.sary_1{
    border: 1px solid;
    justify-content: center;
    width: 305px;
    height: 400px;
    text-align: center;
}



.sary_2{
    border: 1px solid;
    justify-content: center;
    width: 305px;
    height: 400px;
    text-align: center;
}

.sary_3{
    border: 1px solid;
    justify-content: center;
    width: 305px;
    height: 400px;
    text-align: center;
}

.part1{
    margin: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}
.sary_1 p{
    font-size: 20px;
}
.sary_1 a{
    text-decoration: none;
    color: #eeefee;
}
.sary_2 P{
    font-size: 20px;
}
.sary_2 a{
    text-decoration: none;
    padding: 10px;
    color: #eeefee;
}
.chariot{
    border: 2px solid;
    background-color: rgb(39, 37, 37);
    color: #eeefee;
    padding: 10px;
}
.sary_3 p{
    font-size: 20px;
}
.sary_3 a{
    text-decoration: none;
    padding: 10px;
    color: #eeefee;
}
.arrow{
    font-size:20px;
    margin-left: 200px;
}
.arrow h2{
    font-size: 35px;
    color: rgb(35, 35, 151);
}
.arrow ul {
    list-style-type: none;
    margin-left: -20px;
    font-size: 20px;
    padding: 10px;
}

.arrow ul i{
    color: rgb(201, 142, 33);
}

footer {
    border: solid;
    background-color:  rgb(38, 56, 120);
    border: none;
    flex-wrap: nowrap;
    color: aliceblue;
    height: 500px;
}

.container .grid .space {
    display: flex;
    justify-content: left;
    border: solid;
    width: 325px;
    transform: translateY(60%);
    border: none;
}

.grid .space .text9 {
    
    padding-top: 52px;
    transform: translateX(200%);
    color: bisque;
    font-size: 0.8cm;
}

.grid .space .space2 {
   
    padding-top: 115px;
    font-size: 0.4cm;
}

.vertical-line {
    width: 1px; 
    height: 30vh;
    background-color: #ffffff;
    margin: auto; 
    transform: translate(-47855%,200%);
    
}


.space4 {
    display: flex;
    
    border: solid;
    width: 325px;
    align-content: center;
    align-items: center;
    transform: translate(110%,-15%);
    border: none;
}

.space4 .text98 {
    padding-bottom: 97px;
    font-size: 0.8cm;

}
.space4 .space-y-2 {
    margin-top: 52px;
    transform: translateX(-95%);
}

.space-y-4 {
    display: flex;
    justify-content: center;
    width: 352px;
    align-content: center;
    align-items: center;
    transform: translate(200%,-100%);
    border-left:1px solid;
    height: 230px;
    border-right:1px solid;

}
.space-y-4 .text65 {
    padding-bottom: 80px;
    font-size: 25px;
    text-align: center;
    transform: translateX(32px);
}

.space-y-4 .space-y-8 {
    transform: translate(-55%,55%);
}



.icon img {
    width: 30px;
    height: 30px;
    position: absolute;
    font-size: x-large
}



.container65 {
    text-align: center;
    margin-top: -140px;
    height: 230px;

}




/* Icônes de réseaux sociaux */
.social-icons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    transition: transform 0.2s;
}



.facebook {
    background-color: #3b5998;
    transform: translate(920%,-455%);
}

.linkedin {
    background-color: #0077b5;
    transform: translate(920%,-455%);
}

.youtube {
    background-color: #ff0000;
    transform: translate(920%,-455%);
    
}
.mt-8b {
    border: solid;
    border-width: 1px;
    text-align: center;
    margin-top: -260px;

}