body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
header {
    border: solid;
    align-items: center;
    width: 100%;
    border-color: transparent;
    align-items: center;
    display: flex;
}


header nav ul  {
    display: flex;
    flex-wrap: wrap;
    color: black;
    justify-content: space-around;
    width: 1000px;
    font-size: 20px;
    margin-left: 200px;
    margin-top: 150px;
    transform: translateY(-300%);
    list-style-type:none;
    font-style: italic;
}
header nav ul li a{
    color: rgb(48, 47, 47);
    font-size: 25px;
    text-decoration: none;
}

header nav ul li a:hover{
    cursor: pointer;
    color: rgb(173, 129, 74);
    font-size: 0.6cm;
    transition: 0.5s;
    border-bottom: 1px;

}

@media (max-width:600px) {
    header{
        font-size: 15px;
        padding-left: 40px;
    }
    nav ul{
        font-size: 15px;
    }
}
.en-tete{
    border: solid;
    height: 550px;
    background-color: rgb(237, 237, 238);
    
}
.en-tete h1{
    font-size: 52px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(32, 32, 145);
}
.ordinateur img{
    width: 600px;
    height: 500px;
    transform: translate(740px , -425px);
}
.texte1{
    border: solid;
    width: 695px;
    height: 300px;
    margin-inline-start: 40px;
    margin-top:150px;
    border: none;
}
.tout{
    border: solid;
    margin-top: 25px;
    height: 500px;
    border: none;
}
.personne{
    margin-left: 40px;
    transform: translate(25px , 90px);
    
}
.texte2{
    border: solid;
    width: 650px;
    transform: translate(660px , -300px);
    height: 300px;
    font-size: 17px;
    border-color: transparent;
}
.texte2 h2{
    color: rgb(25, 25, 109);
    font-size:25px;
}
.texte2 p{
    color:rgb(160, 154, 154) ;
    padding: 7px 0;
}
.fin{
    margin-top: 75px;
}
.fin h2{
    text-align: center;
    color: rgb(25, 25, 109) ;
    font-size:25px;
}
.fin p{
    margin-inline-start: 90px;
    font-size: 17px;
    color:rgb(160, 154, 154) ;
    margin-top: 12px;
}
.link{
    text-align: center;
    margin-bottom: 70px;
    margin-top: 25px;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.link p {
    border: solid;
    border: none;
    border-radius: 32px;
    padding: 10px;
    background-color: rgb(27, 24, 24);
}
.link  a{
    color: rgb(160, 154, 154);
}