body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
header {
    border: solid;
    align-items: center;
    width: 100%;
    border-color: transparent;
    align-items: center;
    display: flex;
}


header nav ul  {
    display: flex;
    flex-wrap: wrap;
    color: black;
    justify-content: space-around;
    width: 1000px;
    font-size: 20px;
    margin-left: 200px;
    margin-top: 150px;
    transform: translateY(-300%);
    list-style-type:none;
    font-style: italic;
}
header nav ul li a{
    color: rgb(48, 47, 47);
    font-size: 25px;
    text-decoration: none;
}

header nav ul li a:hover{
    cursor: pointer;
    color: rgb(173, 129, 74);
    font-size: 0.6cm;
    transition: 0.5s;
    border-bottom: 1px;

}

@media (max-width:600px) {
    header{
        font-size: 15px;
        padding-left: 40px;
    }
    nav ul{
        font-size: 15px;
    }
}
.en-tete{
    border: solid;
    height: 550px;
    background-color: rgb(237, 237, 238);
    
}
.en-tete h1{
    font-size: 52px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(32, 32, 145);
}
.ordinateur img{
    width: 600px;
    height: 500px;
    transform: translate(740px , -425px);
}
.texte1{
    border: solid;
    width: 695px;
    height: 300px;
    margin-inline-start: 40px;
    margin-top:150px;
    border: none;
}
.tout{
    border: solid;
    margin-top: 25px;
    height: 500px;
    border: none;
}
.personne{
    margin-left: 40px;
    transform: translate(25px , 90px);
    
}
.texte2{
    border: solid;
    width: 650px;
    transform: translate(660px , -300px);
    height: 300px;
    font-size: 17px;
    border-color: transparent;
}
.texte2 h2{
    color: rgb(25, 25, 109);
    font-size:25px;
}
.texte2 p{
    color:rgb(160, 154, 154) ;
    padding: 7px 0;
}
.fin{
    margin-top: 75px;
}
.fin h2{
    text-align: center;
    color: rgb(25, 25, 109) ;
    font-size:25px;
}
.fin p{
    margin-inline-start: 90px;
    font-size: 17px;
    color:rgb(160, 154, 154) ;
    margin-top: 12px;
}
.link{
    text-align: center;
    margin-bottom: 70px;
    margin-top: 25px;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.link p {
    border: solid;
    border: none;
    border-radius: 32px;
    padding: 10px;
    background-color: rgb(27, 24, 24);
}
.link  a{
    color: rgb(160, 154, 154);
}

footer {
    border: solid;
    background-color:  rgb(38, 56, 120);
    border: none;
    flex-wrap: nowrap;
    color: aliceblue;
    height: 500px;
}

.container .grid .space {
    display: flex;
    justify-content: left;
    border: solid;
    width: 325px;
    transform: translateY(60%);
    border: none;
}

.grid .space .text9 {
    
    padding-top: 52px;
    transform: translateX(200%);
    color: bisque;
    font-size: 0.8cm;
}

.grid .space .space2 {
   
    padding-top: 115px;
    font-size: 0.4cm;
}

.vertical-line {
    width: 1px; 
    height: 30vh;
    background-color: #ffffff;
    margin: auto; 
    transform: translate(-47855%,200%);
    
}


.space4 {
    display: flex;
    
    border: solid;
    width: 325px;
    align-content: center;
    align-items: center;
    transform: translate(110%,-15%);
    border: none;
}

.space4 .text98 {
    padding-bottom: 97px;
    font-size: 0.8cm;

}
.space4 .space-y-2 {
    margin-top: 52px;
    transform: translateX(-95%);
}

.space-y-4 {
    display: flex;
    justify-content: center;
    width: 352px;
    align-content: center;
    align-items: center;
    transform: translate(200%,-100%);
    border-left:1px solid;
    height: 230px;
    border-right:1px solid;

}
.space-y-4 .text65 {
    padding-bottom: 80px;
    font-size: 25px;
    text-align: center;
    transform: translateX(32px);
}

.space-y-4 .space-y-8 {
    transform: translate(-55%,55%);
}



.icon img {
    width: 30px;
    height: 30px;
    position: absolute;
    font-size: x-large
}



.container65 {
    text-align: center;
    margin-top: -140px;
    height: 230px;

}




/* Icônes de réseaux sociaux */
.social-icons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    transition: transform 0.2s;
}



.facebook {
    background-color: #3b5998;
    transform: translate(920%,-455%);
}

.linkedin {
    background-color: #0077b5;
    transform: translate(920%,-455%);
}

.youtube {
    background-color: #ff0000;
    transform: translate(920%,-455%);
    
}
.mt-8b {
    border: solid;
    border-width: 1px;
    text-align: center;
    margin-top: -260px;

}