* {
    margin: 0;
    padding: 0;
    text-decoration: none;
<<<<<<< HEAD
   

}
body{
    overflow-x: hidden;
}
header {
    border: solid;
    align-items: center;
    width: 100%;
    border-color: transparent;

}
nav ul {
=======
    overflow-x: hidden;
}

header {
    align-items: center;
    display: flex;
    
}

header nav ul  {
>>>>>>> Ny_Anjara
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1000px;
<<<<<<< HEAD
    font-size: 20px;
    margin-left: 500px;
    margin-top: -20px;
    transform: translateY(-300%);
    text-decoration: none;
    list-style-type:none;
    font-style: italic;
   


}
nav ul li:hover{
    cursor: pointer;
    color: rgb(128, 80, 21);
    border-bottom: 1px;
    
}
=======
    margin-left: 170px;
    font-size: 0.5cm;
    list-style: none;
    
}

header nav ul li:hover{
    text-decoration: none;
    cursor: pointer;
    color: bisque;
    font-size: 0.6cm;
    transition: 0.5s;
    border-bottom: 1px;

}

.border{
    position: absolute;
    border: solid;
    background-color: rgba(73, 73, 193,0.8);
    margin-left: 1000px;
    transform: translateY(-650px);
    width: 550px;
    height: 360px;
    border: none;
}
.border p{
    color: aliceblue;
    font-style: normal;
    margin-left: 32px;
    font-size: 0.6cm;
    transform: translateY(30px);
    padding-top: 36px;
}
.border p br {
    transform: translateY(65px);
}
.border .k {
    font-size: large;

    
}

.sary{
    margin-top: 62px;
}
.paragraphe {
    position: absolute;
    border: solid;
    width: 600px;
    margin-left: 801px;
    transform: translateY(-470px);
    border: none;
}
.zéro {
    font-size: 0.8cm;
    font-weight: 300;
    color: rgba(26, 26, 132, 0.853);
    text-align: center;
    
}
.premier {
    text-align: center;
    margin-top: 30px;
    font-size: 0.5cm;
    font-weight: 300;
}
.deuxieme {
    text-align: center;
    margin-top: 30px;
    font-size: 0.5cm;
    font-weight: 300;
}
.troisième{
    text-align: center;
    margin-top: 30px;
    font-size: 0.5cm;
    font-weight: 300;
}

.evolution button {
    margin-top: 32px;
    margin-left: 200px;
    border: solid;
    background-color: rgb(38, 45, 12);
    border-radius: 40px;
    font-style: italic;
    font-size: 0.6cm;
    color: white;
    width: 230px;
    height: 45px;
}

.bilan {
    border: solid;
    background-color: rgb(38, 56, 120);
    color: rgb(246, 246, 246);
    border: none;
    font-size: 0.5cm;
    
    

}
.bilan h1 {
    text-align: center;
    font-style: italic;
    font-weight: 500;
    margin-top: 60px;
} 

.paragraphe1 {
    margin-left: 75px;
}

.bilan .popo1 {
    margin-top: 32px;
    
}
.bilan .popo2 {
    margin-top: 32px;
}
.bilan .lolo {
    margin-top: 32px;
}
.sary1 {
    margin-left: 850px;
    transform: translateY(-65%);
}
.bilan .lolo1 {
    margin-top: 32px; 
}
.bilan button {
    border: solid;
    font-size: 0.5cm;
    margin-top: 60px;
    width: 280px;
    height: 40px;
    border-radius: 32px;
    border: none;
    background-color: rgb(216, 198, 174);
    color: white;
    
}

>>>>>>> Ny_Anjara
